.search-input {
    height: 50px;
}

.contact-list .contact-img  {
    height: 50px;
    width:50px;
    border-radius:50%;
    border: 1px solid #ccc;
}

.search_icon {
    position: absolute;
    top: 13px;
    left: 20px;
}

.contact-img img {
    border-radius: 50%;
}

.avatar-name {
    line-height: 47px;
    color: #ccc;
}