.navbar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#53aec1+0,00ae8d+100 */
    background: #53aec1; /* Old browsers */
    background: -moz-linear-gradient(left,  #53aec1 0%, #00ae8d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #53aec1 0%,#00ae8d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #53aec1 0%,#00ae8d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53aec1', endColorstr='#00ae8d',GradientType=1 ); /* IE6-9 */
}